/* Split.js stuff */
#split-view-main {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

/* Tailwind stuff */
@import "tailwindcss";

@theme {
    --color-primaryColor: #232323;
    --color-secondaryColor: #333333;
    --color-backgroundColor: #0f0f0f;
    --color-accentColor: #569cd6;

    --text-fontSizeBig: 32;
    --text-fontSizeMedium: 24;
    --text-fontSizeSmall: 14;
}

/* Global stuff */
button {
    outline-style: solid;
    outline-width: 1px;
    border-radius: 10%;
    padding: 0.3rem;
    font-weight: 600;
}

.clickable {
    cursor: pointer;
    filter: brightness(100%);
    transition: filter 0.2s ease;
}
.clickable:hover {
    filter: brightness(150%);
}
.clickable:active {
    filter: brightness(100%);
    transition: filter 0.2s ease;
}

@keyframes rainbow {
    0% {
        color: magenta;
    }

    50% {
        color: rgb(187, 0, 255);
    }

    100% {
        color: rgb(59, 124, 255);
    }
}

.rainbow {
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}