/* Tailwind stuff */
@import "tailwindcss";

@theme {
    --color-primaryColor: #232323;
    --color-secondaryColor: #333333;
    --color-backgroundColor: #0f0f0f;
    --color-accentColor: #569cd6;
    --color-textColor: white;

    --font-display: 'Manrope', 'sans-serif';

    --text-fontSizeBig: 32px;
    --text-fontSizeMedium: 24px;
    --text-fontSizeSmall: 16px;
    --text-fontSizeTiny: 14px;
}

@font-face {
    font-family: "Manrope";
    src: url('../assets/manrope.ttf');
}

/* Global stuff */
button {
    outline-style: solid;
    outline-width: 1px;
    border-radius: 10%;
    padding: 0.3rem;
    font-weight: 600;
}

.clickable {
    cursor: pointer;
    filter: brightness(100%);
    transition: filter 0.2s ease;
}
.clickable:hover {
    filter: brightness(150%);
}
.clickable:active {
    filter: brightness(100%);
    transition: filter 0.2s ease;
}

@keyframes bisexual-lighting {
    0% {
        color: magenta;
    }

    50% {
        color: rgb(187, 0, 255);
    }

    100% {
        color: rgb(59, 124, 255);
    }
}
.bisexual-lighting {
    animation-name: bisexual-lighting;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}